footer {
    padding: 60px;
    padding-bottom: 20px;
    padding-top: 80px;
    overflow: visible;
}
   
footer .email {
    padding: 0;
    border-radius: var(--radius-pill);
    gap: 15px;
    padding: 0 10px;
    border: none;
    background-color: #0000;
    position: relative;
    overflow: visible;
}
footer .email:hover {
    background-color: #0000;
}
footer .email:hover::before {
    background-color: #0000;
}
footer .email:hover .text {
      color: var(--text-color-2);
}

/* Tooltip global */
.desktop .email.tooltip::after{
  content: attr(data-tooltip);
  position: absolute;
  top: calc(50%);
  left: calc(100% - 5px);
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;

  display: inline-block;
  white-space: nowrap;

  font-size: 12px;
  font-weight: 600;
  color: var(--text-color-3);
  background-color: var(--bg);
  padding: 8px 12px;
  border-radius: var(--radius-pill);

  z-index: 9999;
}
.desktop .email.tooltip:hover::after {
  opacity: 1;
}
.desktop .email.tooltip.tooltip-open::after {
  opacity: 1;
}

