/* Overview Section */
.project-overview{
  background-color: var(--bg-dark);
  /* background-color: hsl(240, 11%, 15%); */
  /* background-color: hsl(240, 11%, 16%); */
  /* background-color: var(--bg-dark); */
  border-radius: 20px 10px 10px 20px;
  padding-left: 40px;
}
.project-description {
  width: 500px;
}


/* Stack */
.project-stack{  
  display: flex;
  gap: 12px;
}
.project-stack div{  
  background-color: #0000;
}


/* Tags */
.tag{
  font-size: 12px;
  font-weight: 400;
  color: var(--text-highlight);
  background-color: var(--border);
  border: 2px solid var(--border);
  border-radius: 30px;
  padding: 5px;
}


/* Links */
button.project-link {
  width: 130px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;  
  gap: 8px;     

  background-color: var(--highlight2);

  padding: 8px 10px; 
  border-radius: 50px;
  border: none;
  line-height: 1;

  color: var(--text-highlight);
  text-align: center;
  z-index: 1;            
}


.project-link p {
  width: calc(100% - 20px);
}
.project-link img {
  position: absolute;
  right: 10px;
  width: 15px;
  height: 15px;
  filter: invert(70%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}


@media (max-width: 768px) {
  button.project-link {
    width: 130px;
  }
}