.section.hero {
    padding-top: 100px;
    width: clamp(300px, 85%, 1800px);   
    gap: 20px;
}

.section.hero .profile-img {
    width: 280px;
    height: 280px;
    border-radius: var(--radius-round);
    border: 10px solid var(--border);
}
/* .profile-img {
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(.34,1.56,.64,1); ;
}
.profile-img.visible {
  opacity: 1;
} */


.hero-content{
    gap: 30px;
}
.hero-header {
    /* gap: 10px; */
}
.hero-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    /* gap: 8px; */
}
.hero-desc {
    width: clamp(550px, 65%, 1000px);
}

.hero-socials {
    display: flex;
    align-items: center;
    justify-self: center;
}

a.social:hover{
    background-color: #0000;
}
a.social:hover::before{
    background-color: #0000;
}

.icon-inverter {
    filter: invert(0.75);
}
.icon-inverter:hover {
    filter: invert(1);
}

@media (max-width: 768px) {
    section.hero .profile-img {
        width: 230px;
        height: 230px;
    }
    .section.hero {
        padding-top: 110px;
        padding-bottom: 30px;
        /* width: clamp(300px, 60%, 600px);         */
        width: 85vw;
    }
    .hero-header {
        gap: 5px;
    }
    .hero-desc {
        width: 100%;
    }
    .hero-subtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0px;
    }
    .icon-inverter {
        filter: invert(0.75);
    }
    .hero-content{
        gap: 20px;
    }
}
