.section.projects {
    padding-bottom: 40px;
}
/* Projects */
.full-projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 80px;
}

/* Project*/
.image-carousel{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-decoration: none; 
    height: auto;
    padding: 0;
    border: none;
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: var(--bg-dark);

    transform: scale(1);
}

.project-box.brief{
  width: 45%;
}
.brief .image-carousel{
    height: clamp(50px,15vw, 450px);
}

.image-carousel.card-description {
    padding: 20px 20px;
    padding-top: 15px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-sec);
    display: flex;
    flex-direction: row;
    height: auto;
}
.project-box {
  height: 80vh;
}
.project-section {
  height: 65vh;
  width: 85vw;
  padding: 0 40px;
  border-radius: 10px;
}


.detailed-project.mobile .card-description{
    background-color: var(--bg-light);
    background-color: hsl(240, 11%, 16%);
    padding: 10px 15px;
    padding-bottom: 15px;
}

.card-description {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    height: 100%;
    width: 100%;
    padding: 20px 20px;
    padding-top: 15px;

    font-size: 14px;
    font-weight: 400;
    color: var(--text-sec);
}

.project-diagram{
  width: auto;
  height: 100%;
  display: flex;
  border-radius: inherit;
  place-items: center;
}

.project-diagram .diagram-header{
  position: absolute;
  bottom: -15px;
  padding: 4px 10px;
  border-radius: 10px;
  background-color: #373639;
  backdrop-filter: blur(2px);
}